<!DOCTYPE html>
<html>
<head>
  <title>Dutch Treat: @ViewBag.Title</title>
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <environment names="Development">
    <link href="~/css/site.css" rel="stylesheet" />
  </environment>
  <environment names="Staging,Production">
    <link href="~/dist/dutchtreat.min.css" rel="stylesheet" />
  </environment>
  @RenderSection("Header", false)
</head>
<body>
  <div class="row">
    <header class="container-fluid">
      <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <h1 class="navbar-brand"><i class="fas fa-paint-brush"></i>Dutch Treat</h1>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="theMenu" class="navbar-collapse collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="About">About</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Shop">Shop</a></li>
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
            }
            else
            {
              <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
            }
          </ul>
        </div>
      </nav>
    </header>
    <section class="container">
      <h2 class="text-center">@ViewBag.Title</h2>
      @RenderBody()
    </section>
    <footer class="container">
      <div class="text-center">Copyright 2020 Dutch Treat LLC</div>
    </footer>
  </div>
  <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/solid.js"></script>
    <script src="~/js/index.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/4.6.0/boostrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/solid.min.js"></script>
    <script src="~/dist/dutchtreat.min.js" asp-append-version="true"></script>
  </environment>
  @RenderSection("scripts", false)
</body>
</html> 